
<h1 style="margin-right: 900px">Our Drink Listings</h1>
<% @drinks.each do |drink|%>
<p class="drink_index">
 <a href="/drinks/<%= drink.id%>"><%= drink.name %></a>
 <br>
 <br>
<img src = "<%=drink.pic%>" alt="Our drink" style="width:270px;height:270px;">
<br>
<br>
<% if drink.user && session[:user_id] == drink.user.id %> 
<br>
<br>
<a href="/drinks/<%=drink.id%>/edit">Edit</a>
</p>
<% end %>
<% end %>




