<p style="color:red; background-color: lightblue; font-size: 150%; margin-right: 900px"><%= @error %> <p>

<form action="/drinks" method="post">
<h1>Create a Drink <h1>
<label>Name:</label><br></br>
<input type="text" name="name" id="name">
<br>
<label>Instructions:</label>
<br>
 <br>
 <textarea name="instructions" id="instructions"></textarea>
 <br>
  <br>
 <label>Image URL:</label>
 <br>
  <br>
 <textarea name="pic" id="pic"></textarea>
 <br>
  <br>
 <input type="submit" value="Create Cocktail"style="width:110px;height:40px;">
</form>