<h2> <%= @oops %> <h2>

<body>
<style>
img {
  border-radius: 100%;
  border-style: inset;
  border-color: #9999ff;
  border-width: 10px;
  width: 670px;
  margin-right: 400px;
  float: right;
  padding: 5px;
}

h1 {  
  padding: 5px;
  font-family:  Blippo, monospace, serif;
  background-color: black;
  color: lightblue;
  font-size: 200%;
}

</style>
<img src="https://www.bestwesternva.com/wp-content/uploads/sites/67/2019/02/happy-hour-sign-591x500.jpg" alt="Drink_back_img">
<h1>Welcome to Happy <br>(Any) Hour!
<br><br> Sign up or Log in to curate your own cocktails, or to <br>see other drinks made! <h1>
</body>