<!DOCTYPE html>
<html>
<head>
<title>Happy (Any) Hour</title>

<style>

h1 {  
  margin-right: 0;
  padding: 5px;
  font-family:  Blippo, monospace, serif;
  background-color: tomato;
  color: white;
  font-size: 200%;
}

body {
  margin-left: 0;
  margin-right: 0px;
  margin-top: 0;
  font-family: Arial, Helvetica, serif;
  background-image: url('https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/23129/margarita-cocktail-clipart-md.png'), url('https://cdn.shopify.com/s/files/1/1337/1863/products/NeonSignsInus-FreeShipping-0389-cocktail-glass-neon-sign_1024x1024.jpg?v=1542609761');
  background-size: 90px;
}
form {
  border-style: inset;
  border-width: 15px;
  margin-right: 750px;
  background-color: #ccc;
  padding: 15px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  border-width: 5px;
  border-color: tomato;
  font-size: 100%;
  color: #9999ff;
  text-align: center;
  padding: 5px;
  border-style: inset;
  background-color: black;
}

p.drink_index {
  border-style: inset;
  border-width: 15px;
  margin-right: 750px;
  background-color: #ccc;
  padding: 15px;
}

.topnav {
  font-size: 25px;
  font-family: Impact, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #9999ff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.topnav a:hover {
  background-color: tomato;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

 screen  {
  .topnav a, .topnav input[type=text], .topnav  {
    float: center;
    display: block;
    text-align: left;
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
<% if !logged_in? %>
  <a href="/login">Log In</a>
  <% end %>
  <% if logged_in? %>
  <a href="/logout">Log Out</a>
  <% end %>
  <% if !logged_in? %>
  <a href="/signup">Sign Up</a>
  <% end %>
  <a href="/drinks/new">Make New Cocktail</a>
  <a href="/drinks">List of Drinks</a>
</div>

<footer>
  <p>Daniel H.'s Happy Hour Sinatra App</p>
</footer>

<%=yield%> 


</body>
</html>
